<% layout('templates/boilerplate') -%>

    <% campgrounds.forEach((campground)=>{ %>
        <div class="container mt-3 card">
            <div class="row mt-3 mb-3 align-items-center">
                <div class="col-4">
                    <img src=<%=campground.image%> class="img-thumbnail" alt=<%=campground.title%> style="width:300px">
                </div>
                <div class="col-8">
                    <h5 class="card-title">
                        <%=campground.title%>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <%=campground.location%>
                    </h6>
                    <p class="card-text">
                        <%=campground.description%>
                    </p>
                    <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">Show More of
                        <%=campground.title%>
                    </a>
                </div>
            </div>
        </div>
        <%}) %>